{%  extends "base.html" %}

{% block content %}




  <div class="container marketing">
	<div class="row featurette">
		  <div class="col-md-7">
			<h2 class="featurette-heading">Basketball <span class="text-muted">It’ll blow your mind.</span></h2>
			<p class="lead">I like playing basketball, jogging, doing some excercise.</p>
		  </div>
		  <div class="col-md-5">
			<img src="/static//images/basketball.jpg" alt="basketball" width="400" height="400">
		  </div>
		</div>
		<hr class="featurette-divider">
	<div class="row featurette">
		  <div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Enjoying free time <span class="text-muted">for family.</span></h2>
			<p class="lead">spending time with my family, friends and love ones.</p>
		  </div>
		  <div class="col-md-5 order-md-1">
			<img src="/static//images/withsese.PNG" alt="me and sese" width="300" height="500">

		  	</div>
			</div>
			<hr class="featurette-divider">
			<div class="row featurette">
			  <div class="col-md-7">
				<h2 class="featurette-heading">Determination <span class="text-muted">Innovation</span></h2>
				<p class="lead"> Never ending learning and pursuing dreams.</p>
			  </div>
			  <div class="col-md-5">
				<img src="/static/images/Japanese Diploma.jpg" alt="Japanese diploma" width="400" height="400">
			  </div>
		</div>
  </div>
{% endblock%}

