{%  extends "base.html" %}

{% block content %}
    <style>

        .feature-icon {
          width: 4rem;
          height: 4rem;
          border-radius: .75rem;
        }

        .icon-square {
          width: 3rem;
          height: 3rem;
          border-radius: .75rem;
        }

        .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
        .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
        .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }



        .feature-icon-small {
          width: 3rem;
          height: 3rem;
        }

        .img_icon{

        filter: invert(100%);
         display: flex;
         margin: 0 auto;
         text-align: center;
         float: right;

        }
        h6 {
        display: block;
        margin: 0 auto;
        }

        .email-link {
        text-decoration: none;  /* Remove the underline */
        color: inherit;         /* Inherit the text color from the parent (if needed) */
        }

        .email-link:hover {
            color: blue;            /* Change the color to blue when hovered */
            text-decoration: none;  /* Ensure there's no underline on hover */
        }



  </style>



<div class="container marketing" style="margin-top: 120px;">
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Contact</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
             <img src ="/static/images/linkedin.svg" width="60%" class="img_icon">
            </div>
            <h6>linkedin</h6>
              <h5><a href="https://www.linkedin.com/in/teddy-gil-orbeta-664022106/" target="_blank" class="email-link">teghieorbeta@yahoo.com</a></h5>


            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                 <img src ="/static/images/github.svg" width="60%" class="img_icon">
            </div>
            <h6>Github</h6>
                <h5><a href="https://github.com/Shinozski21/" target="_blank" class="email-link">Shinozski21</a></h5>
                <h5><a href="https://github.com/T-Orbeta-Shin" target="_blank" class="email-link">T-Orbeta-Shin</a></h5>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
     <img src ="/static/images/envelope-at.svg" width="60%" class="img_icon">        </div>
            <h6>Mail</h6>
              <h5>shinorbeta21@gmail.com</h5>
              <h5>teghieorbeta@yahoo.com</h5>
            </a>
          </div>
        </div>
    </div>
</div>

{% endblock%}