{%  extends "base.html" %}

{% block content %}


<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">




        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/Python.svg.png" alt="python" width=100% height="225">

            <div class="card-body">
              <h3>Python</h3>
              <p class="card-text">It is used for web development (server-side), software development, mathematics and system scripting.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/figma-logo.png" alt="figma" width=100% height="225">

            <div class="card-body">
              <h3>Figma</h3>
              <p class="card-text">A browser-based web design tool that lets teams of users collaborate on projects to build interactive user interface prototypes.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/javascript_logo.png" alt="java script" width=100% height="225">

            <div class="card-body">
              <h3>JavaScript</h3>
              <p class="card-text">s a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/pandas_logo.svg.png" alt="pandas library" width=100% height="225">
            <div class="card-body">
              <h3>Pandas</h3>
              <p class="card-text">It is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/beautiful-soup.jpeg" alt="beautiful soup" width=100% height="225">

            <div class="card-body">
              <h3>Beautiful Soup</h3>
              <p class="card-text">Ta Python library for pulling data out of HTML and XML files. It provides idiomatic ways of navigating, searching, and modifying the parse tree.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/MySQL.png" alt="MySQL" width=100% height="225">

            <div class="card-body">
               <h3>MySQL</h3>
              <p class="card-text">It is an open source SQL relational database management system. A database is just a structured collection of data that’s organized for easy use and retrieval. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/turtle-python.jpg" alt="turtle used application" width=100% height="225">


              <div class="card-body">
                <h3>Turtle application</h3>
                  <p class="card-text">It’s an effective and well-proven way for learners to encounter programming concepts and interaction with software, as it provides instant, visible feedback. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/pomodoro.png" alt="tutle used application" width=100% height="225">

            <div class="card-body">
              <h3>Tkinter application</h3>
              <p class="card-text">It is the standard Python interface to the Tcl/Tk GUI toolkit. Both Tk and tkinter are available on most Unix platforms, including macOS, as well as on Windows systems.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/data-analysis.jpg" alt="data analysis" width=100% height="225">

            <div class="card-body">
              <h3>Data Analysis</h3>
              <p class="card-text">Process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information, informing conclusions, and supporting decision-making.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock%}